<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823384448003-rpirg5913utihnakaiu3isj7lj431ofq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823384448003-rpirg5913utihnakaiu3isj7lj431ofq</string>
	<key>API_KEY</key>
	<string>AIzaSyBtBcEQZKRCAMRT2ETmFc9VVzmGon3iH68</string>
	<key>GCM_SENDER_ID</key>
	<string>823384448003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cc.leadgroup.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-8e1c7</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-8e1c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823384448003:ios:9528bfac3ba1810b80c236</string>
</dict>
</plist>